.restaurant_page {
    position: relative;
    width: 100%;
    height: auto;
    background: #0b0e11;
}

/** ALL RESTAURANT */

.restaurant_page .all_restaurant .fil_search_box {
    position: relative;
    width: 100%;
    height: 33px;
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.restaurant_page .all_restaurant .fil_box {
    position: relative;
    width: 420%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.restaurant_page .all_restaurant .fil_box a {
    position: relative;
    display: flex;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: #ffffff;
}

.restaurant_page .all_restaurant .fil_box a {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.restaurant_page .all_restaurant .fil_box a::before,
.fil_box a::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
}

.restaurant_page .all_restaurant .fil_box a::before {
    background-color: #d7b686;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scale(0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.restaurant_page .all_restaurant .fil_box a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform 0.3s cubic-bezier(0.76, 6, 6.24, 1);
    color: #d7b686;
}

.restaurant_page .all_restaurant .fil_box a:hover::before{
    transform-origin: 0% 50%;
    transform: scale(1);
}

.restaurant_page .all_restaurant .fil_box a:hover::after{
    transform: translate3d(0, 0, 0);
}

.restaurant_page .all_restaurant .fil_box a span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.restaurant_page .all_restaurant .file_box a:hover span {
    transform: translate3d(-200%, 0, 0);
  }

/* .restaurant_page .all_restaurant .fil_box a::after {
    transform: translate3d(-200%, 0, 0);
} */

.restaurant_page .all_restaurant .fil_box a {
    text-decoration: none;
    color:#ffffff;
    font-weight: 700;
    vertical-align: top;
}

.restaurant_page .all_restaurant .search_big_box {
    position: relative;
    width: 360px;
    height: 33px;

    display: flex;
    align-items: center;
    background: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(213, 213, 213, 0.25);
    border-radius: 18.5px;
    box-sizing: border-box;
}

.restaurant_page .all_restaurant .search_form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.restaurant_page .all_restaurant .searchInput {
    position: relative;
    width: 245px;
    height: 30px;
    margin-left: 10px;

    display: flex;
    border: none;
    border-radius: 10px 0px 0px 10px;
    font-family: "GT Walsheim Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #4f547b;
}

.restaurant_page .all_restaurant .button_search {
    position: relative;
    width: 100px;
    height: 33px;
    display: flex;

    border-radius: 18.5px;
    background: #f8be69;
}

.restaurant_page .all_restaurant .all_res_box {
    position: relative;
    width: 1305px;
    height: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.restaurant_page .all_restaurant .restaurant_box {
    margin: 13px;
    padding: 5px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 8px;
}

.restaurant_page .all_restaurant .restaurant_img {
    width: 280px;
    height: 330px;

    border-radius: 5px;
    background-size: cover;
}

.restaurant_page .all_restaurant .restaurant_desc {
    width: 280px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
  .restaurant_page .all_restaurant .restaurant_title_text {
    font-family: "GT Walsheim Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-transform: capitalize;
    color: #140342;
  }

  .restaurant_page .all_restaurant .restaurant_desc_text {
    margin-top: 6px;
    font-family: "?????";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #4f547b;
}

.restaurant_page .all_restaurant .bottom_box {
    position: relative;
    width: 100%;
    height: 168px;
    margin-top: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/** SINGLE RESTAURANT */


.restaurant_page .single_restaurant {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #0b0e11;
}

.restaurant_page .single_restaurant .avatar_big_box {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  position: relative;
  width: 100%;
}

.restaurant_page .single_restaurant .top_text {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 43px;
  justify-content: space-between;
  margin-top: 80px;
  position: relative;
  width: 100%;
}

.restaurant_page .single_restaurant .top_text p {
  color: #e3c08d;
  font-family: "Dancing Script";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  margin-left: 380px;
  position: relative;
}

.restaurant_page .single_restaurant .Single_search_big_box {
  position: relative;
  width: 360px;
  height: 33px;
  display: flex;
  align-items: center;
  background: #fffcfc;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px rgba(213, 213, 213, 0.25);
  border-radius: 18.5px;
  box-sizing: border-box;
}
.restaurant_page .single_restaurant .Single_search_form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.restaurant_page .single_restaurant .Single_searchInput {
  position: relative;
  width: 245px;
  height: 29px;
  margin-left: 10px;
  display: flex;
  border: none;
  border-radius: 10px 0px 0px 10px;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #4f547b;
  outline: none;
}
.restaurant_page .single_restaurant .Single_button_search {
  position: relative;
  width: 100px;
  height: 33px;
  display: flex;

  border-radius: 18.5px;
  background-color: #f8be69;
}

.restaurant_page .single_restaurant .prev_btn {
  align-items: center;
  display: flex;
  height: 147px;
  justify-content: center;
  width: 10%;
}
.restaurant_page .single_restaurant .swiper-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant_page .single_restaurant .restaurant_avatars_wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  height: 147px;
  width: 90%;
}

.restaurant_page .single_restaurant .restaurant_avatars {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 108px;
}
.restaurant_page .single_restaurant .restaurant_avatars img {
  border-radius: 50%;
  height: 108px;
  width: 108px;
}
.restaurant_page .single_restaurant .restaurant_avatars span {
  color: #fffcfc;
  font-family: "Solway";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  margin-top: 14px;
}
.restaurant_page .single_restaurant .next_btn {
  align-items: center;
  display: flex;
  height: 147px;
  justify-content: center;
  width: 10%;
}

.restaurant_page .single_restaurant .dishes_filter_box {
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.restaurant_page .single_restaurant .dish_category_box {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 60px;
  width: 50px;
}
.restaurant_page .single_restaurant .dish_category_main {
  display: flex;
  flex-direction: row;
  justify-content: end;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.restaurant_page .single_restaurant .dish_category_main button {
  min-width: auto;
  margin-right: 10px;
}

.restaurant_page .single_restaurant .dish_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  margin-left: 75px;
  margin-top: -90px;
  width: 100%;
}
.restaurant_page .single_restaurant .dish_box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-right: 26px;
  margin-top: 60px;
  width: 273px;
}
.restaurant_page .single_restaurant .dish_box .dish_img {
  background-size: cover;
  border-radius: 0 50px 0 0;
  height: 275px;
  position: relative;
  width: 273px;
}
.restaurant_page .single_restaurant .dish_box .dish_img:hover .like_view_btn {
  opacity: 1;
}
.restaurant_page .single_restaurant .dish_box .dish_img:hover .view_btn {
  opacity: 1;
}

.restaurant_page .single_restaurant .dish_img .dish_sale {
  align-items: center;
  background: #d1f4d9;
  border-radius: 0 50px 50px 0;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.1);
  color: #c50a09;
  display: flex;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: 39px;
  justify-content: center;
  line-height: 21px;
  margin-top: 43px;
  width: 84px;
}
.restaurant_page .single_restaurant .like_view_btn {
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 40px;
  min-width: 40px;
  opacity: 0;
  padding: 5px;
  position: absolute;
  top: 223px;
  transition: opacity 0.5s ease;
  width: 40px;
  z-index: 3;
}
.restaurant_page .single_restaurant .view_btn {
  align-items: center;
  background: rgba(198, 0, 255, 0.66);
  border: 2px solid #d7b686;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  height: 46px;
  left: 105px;
  line-height: 15px;
  opacity: 0;
  padding: 20px;
  position: absolute;
  top: 217px;
  transition: opacity 0.5s ease;
  width: 64px;
  z-index: 3;
}
.restaurant_page .single_restaurant .dish_box .dish_desc {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.restaurant_page .single_restaurant .dish_desc .dish_title_text {
  color: #d1d1d1;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-top: 18px;
}
.restaurant_page .single_restaurant .dish_desc .dish_desc_text {
  align-items: center;
  color: #e3c08d;
  display: flex;
  flex-direction: row;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  justify-content: center;
  line-height: 36px;
  margin-top: 15px;
}
.restaurant_page .single_restaurant .review_for_restaurant {
  background-color: #0d1518;
  display: flex;
  height: 630px;
  margin-top: 60px;
  width: 100%;
}
.restaurant_page .single_restaurant .category_title {
  color: #e3c08d;
  font-family: 'Dancing Script';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
}
.restaurant_page .single_restaurant .review_box {
  align-items: center;
  background: #fff;
  border-radius: 16px;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25),
    inset 0 4px 16px rgba(242, 189, 87, 0.04);
  display: flex;
  flex-direction: column;
  height: 346px;
  margin-top: 40px;
  padding: 20px;
  width: 249px;
}
.restaurant_page .single_restaurant .review_img {
  border-radius: 37px;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  height: 110px;
  width: 110px;
}

.restaurant_page .single_restaurant .review_name {
  color: #08090d;
  font-family: "Commissioner";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin-top: 10px;
}

.restaurant_page .single_restaurant .review_prof {
  color: #a1a1a1;
  font-family: "Commissioner";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.restaurant_page .single_restaurant .review_desc {
    color: #616164;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
}
.restaurant_page .single_restaurant .review_stars {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 24px;
    justify-content: space-between;
    margin-top: 10px;
    width: 149px;
}
.restaurant_page .single_restaurant .member_reviews {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 100px;
}
.restaurant_page .single_restaurant .about_left {
    align-items: flex-end;
    background-position: 50%;
    background-size: cover;
    border-radius: 0 50px 0 0;
    display: flex;
    height: auto;
    width: 50%;
}
.restaurant_page .single_restaurant .about_left .about_left_desc {
    background: linear-gradient(0deg,#000,transparent 90.88%);
    display: flex;
    flex-direction: column;
    height: 329px;
    justify-content: flex-end;
    padding: 20px;
    width: 100%;
}
.restaurant_page .single_restaurant .about_left_desc span {
    color: #fff;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
}
.restaurant_page .single_restaurant .about_left_desc p {
    color: #d4d4d4;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
}
.restaurant_page .single_restaurant .about_right {
    display: flex;
    flex-direction: column;
    height: 480px;
    justify-content: space-between;
    margin-left: 20px;
    width: 50%;
}
.restaurant_page .single_restaurant .about_right .about_right_img {
    background: url(https://i0.wp.com/educationplanetonline.com/wp-content/uploads/2022/03/Culinary-Schools-in-Europe-1.jpg);
    background-position: 50%;
    background-size: cover;
    border-radius: 0 50px 0 0;
    display: flex;
    height: 140px;
    left: 763px;
    top: 3653px;
    width: 160px;
}

.restaurant_page .single_restaurant .about_right .about_right_desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
    padding-bottom: 5px;
}
.restaurant_page .single_restaurant .about_right_desc span {
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}
.restaurant_page .single_restaurant .about_right_desc p {
    color: #d4d4d4;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
}


/*********** chosen dish page ********/

.restaurant_page .chosen_dish_page {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  color: #0b0e11;
}

.restaurant_page .dish_container {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-top: 60px;
padding-bottom: 60px;
}

.chosen_dish_page .chosen_dish_slider {
  width: 48%;
  height: 581px;
}

.chosen_dish_page .dish_swiper {
  --swipper-navigation-color: #fff;
  --swipper-pagination-color: #fff;
  height: 1020px;
  width: 100%;
}

.chosen_dish_page .chosen_dish_info_container {
  padding: 30px 40px;
  width: 49%;
  height: 452px;
  display: flex;
  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0 , 0.25),
  inset 0px 4px 4px rgba(0, 0, 0 , 0.25), inset 0px;
  border-radius: 16px;
}

.chosen_dish_page .chosen_dish_info_container .chosen_dish_info_box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.chosen_dish_page .chosen_dish_info_box .dish_txt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color:#000000
}

.chosen_dish_page .chosen_dish_info_box .resto_name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #979797
} 

.chosen_dish_page .chosen_dish_info_box .rating_box {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}
.chosen_dish_page .rating_box .evaluation_box, .chosen_dish_page .rating_box .star_box {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
}
.chosen_dish_page .chosen_dish_info_box .dish_desc_info {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  height: 112px;
  line-height: 22px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.chosen_dish_page .chosen_dish_info_box .dish_price_box {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-top: 20px;
  width: 100%;
}
.chosen_dish_page .dish_price_box span {
  color: #000;
  font-family: 'Poppins';
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
.chosen_dish_page .button_box {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  width: 100%;
}